# Entorno recomendado: Python 3.10 o 3.11
# Instalación:
# python -m pip install -r requirements.txt

pandas==2.2.2
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.1
scikit-optimize==0.10.2
PyYAML==6.0.2
joblib==1.4.2
psutil==5.9.8
mlflow==2.14.3
setuptools==80.9.0
wheel==0.45.1
